.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}
.title{
    font-family: 'Inter', "sans-serif";
    font-style: normal;
    margin-top: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--tg-theme-text-color);
}

.btnBack{
    height: 35px;
    width: 15%;
    border: none;
    border-radius: 5px;
    background: #3E61BC;
    color: white;
    font-family: 'InterRegular', sans-serif;
}

.fullPage{
    width: 100%;
}